## Exercise 3 - Rest API

In the first task section, an interface about the services of the capital region. This interface is also used in the examples.

Information about the service can be found at: https://www.hel.fi/palvelukarttaws/restpages/palvelurekisteri_en.html

---

In the second task section, Digitraffic's rest interface is used, to which the skills are to be applied.

Information about the service can be found at: https://rata.digitraffic.fi/swagger/

### Tasks of the interface of the capital region's services

Url for the interface: http://www.hel.fi/palvelukarttaws/rest/vpalvelurekisteri

1 Add the libraries to be used and create the interface url with `/description/`.

In [119]:
import requests

base_url = "https://www.hel.fi/palvelukarttaws/rest/vpalvelurekisteri/"
endpoint = "/description/"

url = f"{base_url}{endpoint}"
params = {'language': 'en'}

2 Make a get request to the address and make sure that the search is successful and the response code is 200.

In [120]:
req = requests.get(url, params)
req.status_code

200

3 Save the answer to the variable as a list whose elements are in json format.

In [121]:
data_from_api = req.json()
# data_from_api

4 From the list object, select the latest json record whose `service_id` key value is 10473 (10473 has three values) and place the `id` key value of that json record in the variable.

In [122]:
service_id = 10473
record_id = 0

for i in data_from_api:
    if i['service_id'] == service_id:
        record_id = i['id']
        
record_id

4483

5 Make a new get request to the same address as before (also the endpoint remains the same), but take into account the variable selected in the previous point (the variable that contains the value of `id`) in the request.

In [123]:
req2 = requests.get(f"{url}{record_id}/", params)

service_data = req2.json()

service_data

{'id': 4483,
 'main_description': False,
 'service_id': 10473,
 'title': 'Nature Information System',
 'name_synonyms': 'Nature',
 'description_short': 'The Nature Information System provides information on the biodiverse nature in Helsinki. The key nature data sets include the nature reserves and hundreds of other valuable natural sites.',
 'description_long': "The Nature Information System also includes information on the important flora and bird areas, geological sites, bat areas, polypore areas and forest areas, among other things.\n\nYou can view the chosen data sets on top of various background maps or an aerial photo. See the site report for each area to read more about the area and species spotted there. You can use the search function to look for a particular site, for example.\n\nThe data content of the Nature Information System's public version is filtered for nature conservation reasons.\n",
 'prerequisites': 'If you want to use the system for planning and research purposes, please use the version intended for city officials. Use of this official version requires you to have personal access rights.',
 'provided_languages': ['fi', 'sv'],
 'responsible_depts': ['85080572-9a95-4a18-be6b-5bc306eb3d85'],
 'target_groups': [],
 'life_events': [],
 'errand_services': [],
 'exact_errand_services': [],
 'links': [{'type': 'INTERNET',
   'title': 'Nature Information System',
   'url': 'https://www.hel.fi/en/urban-environment-and-traffic/protection-of-the-environment-and-nature/nature-conservation-and-biodiversity/nature-information-system'}],
 'availabilities': [],
 'unit_ids': []}

6 Print the value of the `title` key from the response message.

In [124]:
service_data['title']

'Nature Information System'

---

### Tasks of the Digitraffic interface

7 Search the Digitraffic interface according to the service instructions for the train from 06.06.2018 with the trainnumber of 1.

In [125]:
departure_date = "2018-06-06"
train_number = 1

digitraffic_baseurl = "https://rata.digitraffic.fi/api/v1/trains"
trains_api_url = f"{digitraffic_baseurl}/{departure_date}/{train_number}"
# https://rata.digitraffic.fi/api/v1/trains/2018-06-06/1

req = requests.get(trains_api_url)
train_data = req.json()

# train_data

8 Create a DataFrame from the result of the get request of the previous task (from the entire data of train 1 at date 06.06.2018), if even one value of the `scheduledTime` key is before the timestamp '2018-06-06T06:00:00.000Z'.

In [126]:
import pandas as pd

timestamp = '2018-06-06T06:00:00.000Z'

# Create a dataframe based on values in the timeTableRows list
# more useful, but probably not asked for
data = []
for train in train_data:
    for time in train['timeTableRows']:
        if time['scheduledTime'] < timestamp:
            data.append(time)

df = pd.json_normalize(data)
df

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialStop,commercialTrack,cancelled,scheduledTime,actualTime,differenceInMinutes,causes,trainReady.source,trainReady.accepted,trainReady.timestamp,liveEstimateTime,estimateSource
0,HKI,1,FI,DEPARTURE,True,True,8,False,2018-06-06T04:09:00.000Z,2018-06-06T04:13:22.000Z,4,"[{'categoryCode': 'H', 'categoryCodeId': 25172...",KUPLA,True,2018-06-06T04:12:21.000Z,NaN,NaN
1,PSL,10,FI,ARRIVAL,True,True,4,False,2018-06-06T04:14:00.000Z,2018-06-06T04:18:15.000Z,4,[],NaN,NaN,NaN,NaN,NaN
2,PSL,10,FI,DEPARTURE,True,True,4,False,2018-06-06T04:15:00.000Z,2018-06-06T04:19:31.000Z,5,[],NaN,NaN,NaN,NaN,NaN
3,KÄP,977,FI,ARRIVAL,False,NaN,,False,2018-06-06T04:17:00.000Z,2018-06-06T04:21:48.000Z,5,[],NaN,NaN,NaN,NaN,NaN
4,KÄP,977,FI,DEPARTURE,False,NaN,,False,2018-06-06T04:17:00.000Z,2018-06-06T04:21:48.000Z,5,[],NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,KPA,485,FI,DEPARTURE,False,NaN,,False,2018-06-06T05:50:00.000Z,2018-06-06T05:58:48.000Z,9,[],NaN,NaN,NaN,NaN,NaN
75,KJR,944,FI,ARRIVAL,False,NaN,,False,2018-06-06T05:54:00.000Z,2018-06-06T06:02:38.000Z,9,[],NaN,NaN,NaN,NaN,NaN
76,KJR,944,FI,DEPARTURE,False,NaN,,False,2018-06-06T05:54:00.000Z,2018-06-06T06:02:38.000Z,9,[],NaN,NaN,NaN,NaN,NaN
77,TA,486,FI,ARRIVAL,False,NaN,,False,2018-06-06T05:59:00.000Z,2018-06-06T06:07:01.000Z,8,[],NaN,NaN,NaN,NaN,NaN
78,TA,486,FI,DEPARTURE,False,NaN,,False,2018-06-06T05:59:00.000Z,2018-06-06T06:07:01.000Z,8,[],NaN,NaN,NaN,NaN,NaN

In [127]:
import pandas as pd

timestamp = '2018-06-06T06:00:00.000Z'

# Create a dataframe based on the entire result of the API call
for train in train_data:
    for time in train['timeTableRows']:
        if time['scheduledTime'] < timestamp:
            df = pd.json_normalize(train_data)
            break

df

,trainNumber,departureDate,operatorUICCode,operatorShortCode,trainType,trainCategory,commuterLineID,runningCurrently,cancelled,version,timetableType,timetableAcceptanceDate,timeTableRows
0,1,2018-06-06,10,vr,IC,Long-distance,,False,False,270528660210,REGULAR,2018-03-05T10:02:10.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."

9 Print the only row from the generated DataFrame object, if one is created.

In [128]:
df

,trainNumber,departureDate,operatorUICCode,operatorShortCode,trainType,trainCategory,commuterLineID,runningCurrently,cancelled,version,timetableType,timetableAcceptanceDate,timeTableRows
0,1,2018-06-06,10,vr,IC,Long-distance,,False,False,270528660210,REGULAR,2018-03-05T10:02:10.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."