## Exercise 2 - Pandas part 2

**Note**: Throughout the exercise, the original data frame is to be processed!

1 Read the content of the `data_export.csv` file saved at the end of the previous exercise into the dataframe so that the `Unnamed 0` column is not created when the file is read.

In [318]:
#

2 Drop the rows with `NaN` values.

In [319]:
#

3 Change all values ​​in the fifth and tenth row to `NaN`.

In [320]:
#

4 Print the number of `NaN` values ​​in each column from the DataFrame object.

In [321]:
#

5 Fill in the `NaN` values ​​made above with linear interpolation.

In [322]:
#

6 Change the last value of `column1` to 94 and the last value of `column3` to 45.

In [323]:
#

7 Add a new column called `column4` to the DataFrame object. This column should include the sum of the columns `column1` and `column3`.

In [324]:
#

8 Reset the index of the DataFrame object and print the number of rows.

In [325]:
#

9 Make time series data with the length of a DataFrame object in the time interval you want and make it an index column.

In [326]:
#

10 Convert all values ​​in `column1` to strings with each zero replaced by an uppercase `ND` character combination.

In [327]:
#

11 Make a copy of the DataFrame object, whose column names have been changed to the following: `column5`, `column6`, `column7`, `column8`. After that, make one big DataFrame object, which consists of the original DataFrame and a copy so that they are added next to each other.


| column1 | column2 | column3 | column4 | column5 | column6 | column7 | column8 |
| ------------- |:-------------:| -----:| ------------- |:-------------:| -----:|-----:|-----:|
| 0.1 | 0.2 | 0.3 | ... | ... | ... | ... | ... |

In [328]:
#

12 Put the last value of `column5` into a variable and the last value of `column3` into a separate variable from the newly made DataFrame object in string format. Concatenate those variables as a string and remove the last two characters from the result. Finally, remove all dots `.`.

In [329]:
#