## Exercise 7 - Final

This final exercise combines different parts from the previous exercises.

### Section 1

1 Search Digitraffic's REST interface service (in JSON format) for active trains with the terminal address `/live-trains` from Helsinki station with the following search parameters:
* arrived_trains=10
* departed_trains=10
* include_nonstopping=False

In [1]:
import requests

station = 'HKI' # Helsinki 

arrived_trains = 10
departed_trains = 10
include_nonstopping = False

params = {
    'arrived_trains': arrived_trains,
    'departed_trains': departed_trains,
    'include_nonstopping': include_nonstopping
}

url = f"https://rata.digitraffic.fi/api/v1/live-trains/station/{station}/"

# https://rata.digitraffic.fi/api/v1/live-trains/station/HKI?version=0&arrived_trains=10&arriving_trains=5&departed_trains=10&departing_trains=5&include_nonstopping=false
req = requests.get(url, params)
req.status_code

200

2 Read the data into the Pandas dataframe without editing, so that the column headings are as follows:

 `cancelled`,
 `commuterLineID`,
 `departureDate`,
 `operatorShortCode`,
 `operatorUICCode`,
 `runningCurrently`,
 `timeTableRows`,
 `timetableAcceptanceDate`,
 `timetableType`,
 `trainCategory`,
 `trainNumber`,
 `trainType`,
 `version`

In [2]:
import pandas as pd
df = pd.json_normalize(req.json())

df.head()

,trainNumber,departureDate,operatorUICCode,operatorShortCode,trainType,trainCategory,commuterLineID,runningCurrently,cancelled,version,timetableType,timetableAcceptanceDate,timeTableRows
0,64,2024-02-19,10,vr,S,Long-distance,,False,False,287675245715,REGULAR,2023-12-14T06:21:07.000Z,"[{'stationShortCode': 'KAJ', 'stationUICCode':..."
1,142,2024-02-19,10,vr,IC,Long-distance,,False,False,287675323095,REGULAR,2023-11-02T05:57:22.000Z,"[{'stationShortCode': 'KUO', 'stationUICCode':..."
2,145,2024-02-19,10,vr,IC,Long-distance,,False,False,287675292043,REGULAR,2023-11-02T05:57:22.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
3,8094,2024-02-19,10,vr,HL,Commuter,A,False,False,287675236834,REGULAR,2023-11-02T05:57:22.000Z,"[{'stationShortCode': 'LPV', 'stationUICCode':..."
4,8098,2024-02-19,10,vr,HL,Commuter,A,True,False,287675343979,REGULAR,2023-11-02T05:57:22.000Z,"[{'stationShortCode': 'LPV', 'stationUICCode':..."

3 Delete all other columns except `timeTableRows` and `trainNumber`.

In [3]:
df = df.loc[:, ['timeTableRows', 'trainNumber']]
df.head()

                                       timeTableRows  trainNumber
0  [{'stationShortCode': 'KAJ', 'stationUICCode':...           64
1  [{'stationShortCode': 'KUO', 'stationUICCode':...          142
2  [{'stationShortCode': 'HKI', 'stationUICCode':...          145
3  [{'stationShortCode': 'LPV', 'stationUICCode':...         8094
4  [{'stationShortCode': 'LPV', 'stationUICCode':...         8098

4 After this, extract the values ​​of the `timeTableRows` column from each train separately (the column value for each train contains several JSON objects) and add `trainNumber`, which identifies the train data.

In [4]:
nested_df = pd.json_normalize(df.iloc[0,0])
nested_df

new_dataframe = pd.DataFrame()

# new_df_columns = nested_df.columns
# new_df_columns

5 Then drop the following columns from the data: `causes`, `differenceInMinutes` and `commercialStop`.

In [5]:
df = df.drop(['causes', 'differenceInMinutes', 'commercialStop'], axis=1, inplace=True)

KeyError: "['causes', 'differenceInMinutes', 'commercialStop'] not found in axis"

6 Fill in the missing values ​​of the `actualTime` column in each row with the values of the `scheduledTime` column.

In [ ]:
#

### Section 2

7 Extract the cell values ​​of the `table` element of the `data.html` file using the regex syntax and connect them to the dataframe created in step 1. **Note**: only regex should be used in the task (E.g. the use of Pandas' read_html() method is prohibited)!

In [ ]:
import re
tr_pattern = r"<tr[^>]*>(.*?)<\/tr>" # table rows, ignore attributes
th_pattern = r"<th>(.*?)<\/th>" # dataframe columns
td_pattern = r"<td>(.*?)<\/td>" # dataframe rows

with open("./data.html") as file:
    html_data = file.read()

columns = re.findall(th_pattern, html_data)

# rows = 
# table_data = []

# table_df = pd.DataFrame

# columns
html_data

### Section 3

8 Make a SQLite database and insert the dataframe obtained as a result of step 2 to the database.

In [ ]:
import sqlite3

# Create a database connection
db_connection = sqlite3.connect('final.db')

# Save dataframe to database
df.to_sql(name='live_trains', con=db_connection, if_exists='fail', index=False)

# Close the connect
db_connection.close()