## Exercise 7 - Final

This final exercise combines different parts from the previous exercises.

### Section 1

1. Search Digitraffic's REST interface service (in JSON format) for active trains with the terminal address `/live-trains` from Helsinki station with the following search parameters:
* arrived_trains=10
* departed_trains=10
* include_nonstopping=False

In [1]:
#

2. Read the data into the Pandas dataframe without editing, so that the column headings are as follows:

 `cancelled`,
 `commuterLineID`,
 `departureDate`,
 `operatorShortCode`,
 `operatorUICCode`,
 `runningCurrently`,
 `timeTableRows`,
 `timetableAcceptanceDate`,
 `timetableType`,
 `trainCategory`,
 `trainNumber`,
 `trainType`,
 `version`

In [ ]:
#

3. Delete all other columns except `timeTableRows` and `trainNumber`.

In [2]:
#

4. After this, extract the values ​​of the `timeTableRows` column from each train separately (the column value for each train contains several JSON objects) and add `trainNumber`, which identifies the train data.

In [3]:
#

5. Then drop the following columns from the data: `causes`, `differenceInMinutes` and `commercialStop`.

In [4]:
#

6. Fill in the missing values ​​of the `actualTime` column in each row with the values of the `scheduledTime` column.

In [5]:
#

### Section 2

7. Extract the cell values ​​of the `table` element of the `data.html` file using the regex syntax and connect them to the dataframe created in step 1. **Note**: only regex should be used in the task (E.g. the use of Pandas' read_html() method is prohibited)!

In [6]:
#

### Section 3

8. Make a SQLite database and insert the dataframe obtained as a result of step 2 to the database.

In [7]:
#