## Exercise 1 - Pandas part 1

**Note**: Throughout the exercise, the original data frame is to be processed!

 1. Add the required libraries and read the file named `testdata.csv` into the DataFrame object.

In [1]:
#

 2. Print the last five rows of the DataFrame object.

In [2]:
#

3. Print the headers of the data columns as a list object.

In [3]:
#

4. Print the length of `column2` (the number of elements in the column).

In [4]:
#

5. Print the information of the first row of data.

In [5]:
#

6. Drop the column named `Unnamed: 0` from the data and verify the result in the way you choose.

In [6]:
#

7. Delete rows if the value 0.2 or less appears in the column `column1`.

In [7]:
#

8. Print the minimum and maximum value of column `column1`.

In [8]:
#

9. Make the value of the first column of the first row to be `NaN`.

In [9]:
#

10. Save the final result in a file called `data_export.csv` (the file will be used in the next exercise).

In [10]:
#