## Exercise 4 - SQLite

1 Add the necessary libraries for SQLite3 and make a database named `test.db`.

In [1]:
#

2 Create a connection to the database.

In [ ]:
#

3 Make the following table in the database, named `people`:
    
| name | age | shoe_size |
| ------------- |-------------| -----|
| Prank | 88 | 47 |
| Matt | 34 | 39 |
| Ilona | 41 | 36 |
| Sonja | 32 | 37 |

In [4]:
#

4 When the Table has been created, convert the table to the Pandas DataFrame object and add the column `hat_size' to it, then fill that column with the values ​​you choose.

In [5]:
#

5 Make a copy of the DataFrame object with the name `person_table_copy` and add a row to it with the values ​you choose. Now save this modified dataframe object in the database as `person_table_copy` (will be created next to the previous table).

In [6]:
#

6 Finally, save the database changes and close the connection.

In [7]:
#